body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Indicate required elements */
.flag { color: firebrick; }

/* The required flag starts out as a red asterisk. */
.flag::before {
  content: "*";
  padding-left: 2px;
}

/* Change the red * to a green check once the control has been filled in.  
    The ~ is for selecting siblings without requiring that they be right 
    next to each other. */
:required:valid + .flag::before, .flag.valid::before {
  content: '✓';
  color: green;
}

.bttn_reset{
  display: inline-block;
  margin: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  padding-right: 5px;
  padding-left: 5px;
}

.bttn_eq{
  display: inline-block;
  margin: 10px;
  border-radius: 5px; 
  cursor: pointer; 
  padding-right: 5px;
  padding-left: 5px;
}

.lbl{
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
}

.dropdown-container {
  width: 260px; /* Set the width of the dropdown */
}
