body {
/*  padding: 50px;   Why? */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Indicate required elements */
.flag { color: firebrick; }

/* The required flag starts out as a red asterisk. */
.flag::before {
  content: "*";
  padding-left: 2px;
}

/* Change the red * to a green check once the control has been filled in.  
    The ~ is for selecting siblings without requiring that they be right 
    next to each other. */
:required:valid + .flag::before, .flag.valid::before {
  content: '✓';
  color: green;
}

.bttn_reset, .bttn_eq {
/*  display: inline-block;
  margin: 10px; */
  margin: 0.5ex 1em;
  border-radius: 5px; 
/*  cursor: pointer; 
  padding-right: 5px;;
  padding-left: 5px; */
}

.lbl{
/*  font-weight: bold; */
  padding: 0 0.5em;
/*  padding-right: 5px;
  padding-left: 5px; */
}

.dropdown-container {
    /* width: 260px; Set the width of the dropdown */
    width: 20em;  /* Make the dropdowns be a standard width */
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

.eq_table{
/*  padding-top: 12px;
  padding-bottom: 12px; */
    text-align: center;
/*  background-color: #04AA6D;
  color: white; */
}

th, td {
    padding: 0.1ex 1em;
}
