if !schools
    p No schools, no form!
else if schools.length == 0
    p schools.length is 0
else
    form(action="/transferCredit", method="post")
        input(type="hidden", name="formname", value="equivalence")
        label(class="lbl") School: 
        select(class="dropdown-container", name="OrgCode", required, onchange="this.form.submit();")
            option(value="") &mdash;Please select a school&mdash;
            each rowObj in schools
                if (postdata.OrgCode && (postdata.OrgCode == rowObj.OrgCode))
                    option(value = rowObj.OrgCode, selected) #{rowObj.College}
                else 
                    option(value = rowObj.OrgCode) #{rowObj.College}
        span(class="flag")
        br
        // Course form
        label(class="lbl") Course: 
        if !postdata.OrgCode
            select(class="dropdown-container", name="CrsID", disabled)
                option(value="") &mdash;Please select a course&mdash;
            br
            input(class="bttn_reset", type="reset", value="Reset")
            input(class="bttn_eq", type="submit", value="Find Equivalences", disabled)
        else if !courses || (courses.length == 0)
            p OrgCode but no courses!
        else
            //- if postdata.OrgCode && courses && (courses.length > 0)
            select(class="dropdown-container", name="CrsID", required)
                option(value="") &mdash;Please select a course&mdash;
                //- FILL IN THE OPTIONS HERE FOR THE ACTUAL COURSES
                each rowObj in courses
                    if (postdata.CrsID && (postdata.CrsID == rowObj.CrsID))
                        option(value = rowObj.CrsID, selected) #{rowObj.CrsCode}
                    else
                        option(value = rowObj.CrsID) #{rowObj.CrsCode}
            span(class="flag")
            br
            input(class="bttn_reset", type="reset", value="Reset")
            input(class="bttn_eq", type="submit", value="Find Equivalences")
