if !schools
    p No schools, no form!
else if schools.length == 0
    p schools.length is 0
else
    form(action="/", method="post")
        input(type="hidden", name="formname", value="equivalence")
        label School: 
        select(name="OrgCode", required, onchange="this.form.submit();")
            option(value="") &mdash;Please select a school&mdash;
            each rowObj in schools
                if (postdata.OrgCode && (postdata.OrgCode == rowObj.OrgCode))
                    option(value = rowObj.OrgCode, selected) #{rowObj.College}
                else 
                    option(value = rowObj.OrgCode) #{rowObj.College}
        span.flag
        br

        // Course form
        label Course: 
        if !postdata.OrgCode
            select(name="crsID", disabled)
                option(value="") &mdash;Please select a course&mdash;
            br
            input(type="reset", value="Reset")
            input(type="submit", value="Find Equivalences", disabled)
        else if !courses || (courses.length == 0)
            p OrgCode but no courses!
        else
            //- if postdata.OrgCode && courses && (courses.length > 0)
            select(name="crsID", required)
                option(value="") &mdash;Please select a course&mdash;
                //- FILL IN THE OPTIONS HERE FOR THE ACTUAL COURSES
                each rowObj in courses
                    if (postdata.crsID && (postdata.crsID == rowObj.crsID))
                        option(value = rowObj.crsID, selected) #{rowObj.CrsName}
                    else
                        option(value = rowObj.crsId) #{rowObj.CrsName}
            span.flag
            br
            input(type="reset", value="Reset")
            input(type="submit", value="Find Equivalences")
