extends layout

block content

    <header>
        <div id="top-header" style="background-color: #460587;">
            <div id="Converse-logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQl_t546PSrPv4eEmWYCzCI__OLbN2MOywXPaz5ikTew&s">
            </div>
        </div>
    </header>

    h1= title

    //- include equivalence_form.pug
    include equivalence_form

    h2 Results of query: <q>#{query}</q>

    if !rows
        p No result
    else if rows.length == 0
        p Empty result
    else
        table(class="eq_table")
            thead
                tr
                    each key in Object.keys(rows[0])
                        th= key
            tbody
                each row in rows
                    tr
                        each val in Object.values(row)
                            td= val